
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  .download-box{
    margin-top: 145px;
    font-size: 5.4rem;
    text-align: center;
    font-weight: 600;
    img{
      width: auto;
      height: 12.1484375vw;
    }
    .first{
      margin-top: 32px;
    }
  }
  .help-box{
    font-size: 4.8rem;
    font-weight: 600;
    display: flex;
    line-height: 1;
    margin-top: 48px;
    img{
      width: 90px;
      height: 90px;
      margin-right: 40px;
    }
  }
  .version{
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    color: gray;
    font-size: 3rem;
  }
}
