
@import '../../custom.scss';

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .tips1{
    font-size: 4.8rem;
    font-weight: bold;
    margin: 100px 0 2.1875vw;
    text-align: center;
    p{
      margin-top: 87px;
    }
  }
  .progress-box{
    position: relative;
    width: 57.8125vw;
    height: 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
    border-radius: 100px;
    .border-box{
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 100px;
      border: 10px solid $black;
    }
  }
  .tips2{
    color:$black;
    font-size: 2.8rem;
    font-weight: 800;
    margin-top: 1.953125vw;
    width: 800px;
    text-align: left;
    span{
      font-size: 2.4rem;
    }
    strong{
      font-weight: bolder;
    }
  }
}

.process-box{
  position: absolute;
  bottom:15px;
  height: 73px;
  width: 100%;
  text-align: center;
  img{
    height: 100%;
  }

}
