@import '../../custom.scss';

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .title{
    font-size: 8rem;
    margin-bottom: 5vw;
    text-align: center;
  }
  .warning{
    font-size: 4.8rem;
    color: red;
    text-align: center;
    margin-top: -4vw;
    margin-bottom: 4vw;
  }
  .password{
    font-size: 5.4rem;
    display: flex;
    margin-bottom: 10vw;
    li{
      width: 10vw;
      height: 10vw;
      text-align: center;
      line-height: 10vw;
      background: #111;
      color: #FFF;
      margin: 0 1vw;
    }
    .asterisk{
      line-height: 12vw;
    }
    .blink {
      animation: blinker 1s linear infinite;
    }
    @keyframes blinker {
      50% { opacity: 0; }
    }
  }
  .code{
    font-size: 5.4rem;
    display: flex;
    li{
      width: 10vw;
      height: 10vw;
      border-radius: 50%;
      text-align: center;
      line-height: 10vw;
      background: #111;
      color: #FFF;
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
      margin: 0 1vw;
      &:active{
        box-shadow: none;
      }
    }
  }
  .commit_btn{
    width: 20vw;
    height: 5.7vw;
    font-size: 4.8rem;
    line-height: 5.7rem;
    border-radius: 3vw;
    background-color: #111;
    color: #FEE800;
    font-weight: bold;
    margin-top: 2vw;
  }
  .commit_btn_disabled{
    width: 20vw;
    height: 5.7vw;
    font-size: 4.8rem;
    line-height: 5.7rem;
    border-radius: 3vw;
    background-color: #9B9B9B;
    color: #FFF;
    font-weight: bold;
    margin-top: 2vw;
  }
}



:global{
  .operation-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    .ant-radio-group{
      margin-bottom: 2vw;
    }
    div{
      font-size: 4rem !important;
    }
    label{
      background-color: #FFF;
      width: 10vw;
      height: 4vw;
      border-radius: 2vw !important;
      font-size: 3.6rem;
      text-align: center;
      line-height: 4vw;
      box-shadow: 0 10px 20px 0 rgba(0,0,0,.05);
      margin: 0 3vw;
      font-weight: bold;
    }
    .ant-radio-input, .ant-radio-inner{
      display: none;
    }
    .ant-radio-wrapper-checked:not(:first-child)::before{
      display: none;
    }
    .ant-radio-wrapper-checked{
      background-color: #111;
      color: #FFF;
    }
  }
}
