
@import '../../custom.scss';


.container{
  text-align: center;
  padding-top: 4.43vw;
  position: relative;
  height: 36.46vw;
  .type-img{
    width: 8.75vw;
    display: block;
    margin-left: 6vw;
  }
  .error{
    font-size: 2.4rem;
    color: #FF001F;
    margin-top: 4.1vw;
  }
  .name{
    font-size: 2rem;
    margin: 3.6vw 0 1.25vw;
    display: inline-block;
    width: 15.625vw;
    @include text-overflow;
  }
  table{
    margin: 0 auto;
    td{
      &:first-child{
        text-align: right;
      }
      text-align: left;
    }
  }
  button{
    width: 18.23vw;
    height: 3.54vw;
    background: $black;
    border: none;
    color: $white;
    font-size: 2.4rem;
    font-weight: bold;
    position: absolute;
    bottom: 1vw;
    left: 2vw;
    border-radius: 4px;
  }
  .pages{
    display: none;
  }
  .imgage-text{
    display: none;
  }
}

.container-setting{
  text-align: center;
  padding-top: 5.73vw;
  position: relative;
  height: 39.58vw;
  border-right: 1px solid $light-gray;
  .type-img{
    height: 15.625vw;
    margin-left: 0;
  }
  .error{
    display: none;
  }
  .name{
    font-size: 2.4rem;
    margin-top: 2.6vw;
    margin-bottom: 1.25vw;
    display: inline-block;
    width: 18.75vw;
    @include text-overflow;
  }
  table{
    margin: 0 auto;
    font-size: 2rem;
    td{
      &:first-child{
        text-align: right;
      }
      text-align: left;
      font-weight: lighter;
    }
  }
  button{
    display: none;
  }
  .loading{
    color: rgb(119,182,255);
    font-weight: bold;
  }
  .loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
  }
  .imgage-text{
    font-size: 2.4rem;
    margin-top: 1vh;
    color: #FF001F;
  }
  @keyframes ellipsis {
    to {
      width: 1.25em;
    }
  }

  @-webkit-keyframes ellipsis {
    to {
      width: 1.25em;
    }
  }
}
