@import '../../custom.scss';

.content{
  .screenshot-list{
    display: flex;
    padding: 0 7.4vw;
    li{
      flex: 1;
      text-align: center;
      position: relative;
      &:after{
        content: '.';
        width: 1vw;
        height: 1.875vw;
        display: block;
        background-image: url('./assets/next.png');
        background-size: contain;
        position: absolute;
        top: 19.27vw;
        right: -1vw;
        color: transparent;
      }
      &:last-child:after{
        height: 0;
        display: block;
      }
      &:first-child .screenshot{
        margin: 11.875vw 0 7.24vw;
      }
    }
    .screenshot{
      width: 13.36vw;
      height: auto;
      margin: 6.46vw auto 1.82vw;
    }
    .describe-box{
      padding: 0 20px;
      p{
        font-size: 2.1rem;
        color: $black;
        padding: 0 6px;
        line-height: 1.5;
        position: relative;
        text-align: justify;
        overflow: hidden;
      }
      .step{
        width: 1.484375vw;
        height: 1.484375vw;
        background-color: $black;
        border-radius: 0.7421875vw;
        color: $turbo;
        // display: inline-block;
        float: left;
        font-size: 1.8rem;
        text-align: center;
        line-height: 1.484375vw;
        // margin-right: 0.4vw;
        float: left;
      }
    }
  }
}
