
.container{
  height: 100vh;
  .content{
    display: flex;
    justify-content: space-between;
    text-align: center;
    .left{
      flex: 1;
      margin: 0 auto;
      h3{
        font-size: 7.2rem;
        margin-top: 22.96vh;
        margin-bottom: 10vh;
      }
      p{
        font-size: 3.6rem;
        font-weight: bold;
      }
      .dora-refund{
        height: 10vh;
        margin-right: 4vh;
        vertical-align: bottom;
      }
    }
    .right{
      flex: 1;
      background: url(http://www.duoladayin.com:8070/image/refund-bg.png) no-repeat;
      background-size: 53.98vh auto;
      background-position: center;
      height: 80vh;
    }
  }

  .help-box{
    position: fixed;
    right: 4vh;
    font-size: 2.4rem;
    font-weight: bold;
    .help{
      vertical-align: middle;
      margin-left: 1.5vw;
    }
  }
}
