
$black:#111;
// $black-light:#666;
// $black-lighter:#999;
// $black-lightest:#ccc;
$white:#fff;
// $red:red;
$grey-ligher:#E3E3E3;
// $grey-light:#404040;
// $blue-light:#2db7f5;
// $grey-dark:rgba(48,45,44,1);
// $blue-dark:#1f2a33;
// $main-bg:$grey-dark;
$light-green:#50E3C2;

$light-gray: #B9B9B9;

$border-line-color:$grey-ligher;

$cod-gray: #111;

$turbo: #FEE800;



@mixin text-overflow(){
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
