<!doctype html>
<html style="font-size:43.5%;">
  <head>
    <title>多拉</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./animate.min.css">
    <script>
      if(!window.Promise) {
        document.writeln('<script src="https://as.alipayobjects.com/g/component/es6-promise/3.2.2/es6-promise.min.js"'+'>'+'<'+'/'+'script>');
      }
    </script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
