
@import '../../custom.scss';

.header{
  height: 11.8vh;
  padding: 1.171875vw;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $turbo;
  color: $black;
  box-shadow: 0 2px 4px rgba(0,0,0,.14), 0 4px 5px rgba(0,0,0,.12), 0 1px 10px rgba(0,0,0,.20);
  .left-box{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 5.4rem;
    span{
      margin: 0 10px;
      white-space: nowrap;
    }
    .sub-title{
      font-weight: 600;
    }
    .logo{
      width: auto;
      height: 60%;
      margin:  0 1vw;
    }
  }
  .right-box{
     height: 100%;
     width: 270px;
     text-align: right;
     text-align: center;
     p{
       font-size: 2.4rem;
       font-weight: 700;
     }
     img{
       height: 4.17vw;
     }
  }
  img{
    height: 100%;
  }
  .bob{
    -webkit-transform: perspective(1px) translateZ(0);
    -webkit-animation-name: hvr-bob-float, hvr-bob;
     animation-name: hvr-bob-float, hvr-bob;
     -webkit-animation-duration: .3s, 1.5s;
     animation-duration: .3s, 1.5s;
     -webkit-animation-delay: 0s, .3s;
     animation-delay: 0s, .3s;
     -webkit-animation-timing-function: ease-out, ease-in-out;
     animation-timing-function: ease-out, ease-in-out;
     -webkit-animation-iteration-count: 1, infinite;
     animation-iteration-count: 1, infinite;
     -webkit-animation-fill-mode: forwards;
     animation-fill-mode: forwards;
     -webkit-animation-direction: normal, alternate;
     animation-direction: normal, alternate;
  }
}

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  50% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}
