@import '../../custom.scss';

.box{
  width: 50.328125vw;
  margin: 0 auto;
  position: fixed;
  bottom: 1.6vw;
  left: 25%;
  .stepLayout{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    z-index: 1;
    position: relative;
    .stepInfo{
      text-align: center;
      .stepSequence{
        height: 80px;
        width: 80px;
        font-size: 1.4rem;
        display: inline-block;
        border-radius:  40px;
        background: $turbo;
        color: $black;
        line-height: 72px;
        border: 4px solid $white;
      }
      .current{
        height: 100px;
        width: 100px;
        font-size: 2rem;
        display: inline-block;
        font-weight: bold;
        border-radius:  50px;
        background: $white;
        color: $black;
        line-height: 92px;
        border: 4px solid $white;
        margin-top: -10px;
      }
      .stepName{
        font-size: 2.7rem;
        margin-top: 0.390625vw;
      }
    }
  }
  .line{
    height: 4px;
    width: 46vw;
    margin-left: 4.5%;
    background: $white;
    position: absolute;
    top: 38px;
  }
}
