@import '../../custom.scss';

@mixin box {
  width: 1.875vw;
  height: 1.875vw;
  display: inline-block;
  margin: 0 1vw;
  background-size: contain;
  background-repeat: no-repeat;
}
.form{
  padding: 0 0 0 3.125vw;
}
.content{
  padding: 0 0 0 3.125vw;
  .title{
    font-size: 2.4rem;
    color: $black;
    font-weight: bold;
  }
   .button{
     background: $black;
     color: $white;
     width: 1.875vw;
     height: 1.875vw;
     margin-top: -0.26vw;
  }
  .num{
    font-size: 3.6rem;
    display: inline-block;
    width: 3.125vw;
    text-align: center;
    position: relative;
    top: -0.26vw;
  }
  label{
    font-size: 2rem;
    color: $black;
  }
  .value{
    font-size: 2rem;
    display: inline-block;
    color: $black;
    position: relative;
    top: -0.5vw;
  }
  .dropdown{
    height: 10.41vw;
    overflow: scroll;
  }
  .tip{
    font-size: 1.4rem;
  }
  .cost{
    font-size: 2.4rem;
    display: inline-block;
    color: $black;
    padding-left: 2.1vw;
    span{
      font-size: 1.4rem;
      color: gray;
    }
    // margin-top: 80px;
    // width: 200px;
  }
  .line{
    height: 1px;
    background-color: #D9D9D9;
    width: 96%;
    float: right;
    margin-bottom: 1.875vw;
  }
  .checked{
    background: url(./assets/checked.png);
    @include box;
  }
  .unchecked{
    background: url(./assets/unchecked.png);
    @include box;
  }
  .plus{
    background: url(./assets/plus.png);
    @include box;
  }
  .plus-o{
    background: url(./assets/plus-o.png);
    @include box;
  }
  .minus{
    background: url(./assets/minus.png);
    @include box;
  }
  .minus-o{
    background: url(./assets/minus-o.png);
    @include box;
  }
  .row{
    background: url(./assets/row.png);
    @include box;
  }
  .row-o{
    background: url(./assets/row-o.png);
    @include box;
  }
  .column{
    background: url(./assets/column.png);
    @include box;
  }
  .column-o{
    background: url(./assets/column-o.png);
    @include box;
  }
  .out-range{
    position: absolute;
    right: 2.1vw;
    top: -2.1vw;
    font-size: 1.4rem;
    color: #EB5A46;
  }
  .print-btn{
    width: 15.625vw;
    height: 3.125vw;
    background-color: $black;
    font-size: 2.4rem;
    color: $white;
    font-weight: bold;
    float: right;
    margin-right: 2.1vw;
  }
  .print-btn-disabled{
    width: 15.625vw;
    height: 3.125vw;
    background-color: #D9D9D9;
    font-size: 2.4rem;
    color: $white;
    font-weight: bold;
    float: right;
    margin-right: 2.1vw;
  }
  .loading-btn{
    width: 15.625vw;
    height: 3.125vw;
    background-color: #D9D9D9;
    font-size: 2.4rem;
    color: $white;
    font-weight: bold;
    float: right;
    margin-right: 2.1vw;
  }
  .loading-btn{
    span:after {
      overflow: hidden;
      display: inline-block;
      vertical-align: bottom;
      -webkit-animation: ellipsis steps(4,end) 900ms infinite;
      animation: ellipsis steps(4,end) 900ms infinite;
      content: "\2026"; /* ascii code for the ellipsis character */
      width: 0px;
    }
    @keyframes ellipsis {
      to {
        width: 1.25em;
      }
    }

    @-webkit-keyframes ellipsis {
      to {
        width: 1.25em;
      }
    }
  }
  .layout-config{
    margin-left: 0.9375vw;
    .layout-selected{
      border: 1px solid $light-gray;
      width: 7.3vw;
      text-align: center;
      border-radius: 4px;
      height: 2.6vw;
      line-height: 2.6vw;
      font-size: 2rem;
    }
    ul{
      position: absolute;
      z-index: 1;
      background-color: #FFF;
      box-shadow: 0 1px 6px rgba(0,0,0,.2);
      li{
        width: 7.3vw;
        height: 2.6vw;
        padding-left: 0.5vw;
        font-size: 1.8rem;
        line-height: 2.6vw;
        &:hover{
          background: #f7f7f7;
        }
      }
    }
  }
  .printType-config{
    margin-left: 1vw;
    .printType-selected{
      border: 1px solid $light-gray;
      width: 7.3vw;
      text-align: center;
      border-radius: 4px;
      height: 2.6vw;
      line-height: 2.6vw;
      font-size: 2rem;
    }
    ul{
      position: absolute;
      z-index: 1;
      background-color: #FFF;
      box-shadow: 0 1px 6px rgba(0,0,0,.2);
      li{
        width: 12.5vw;
        height: 4.167vw;
        padding-left: 0.5vw;
        font-size: 1.8rem;
        line-height: 1.5vw;
        &:hover{
          background: #f7f7f7;
        }
      }
    }
  }
  .disabled{
    color: rgba(0,0,0,.25);
    background: #f7f7f7;
  }
}

:global {
  .ant-form-item{
    margin-bottom: 14px;
  }
}
