@import '../../custom.scss';

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content{
  height: 88.2vh;
  position: relative;
  overflow: hidden;
  padding-top: 3.1vw;
  .file-icon{
    box-shadow: #B8B8B8 0 5px 5px;
    border-radius: 4px;
  }
  .view{
    width: 72.91vw;
    margin-left: 13.54vw;
    height: 13.54vw;
    position: relative;
    perspective: 31.25vw;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    .stack {
      position: relative;
      width: 100%;
      height: 100%;
      -webkit-transition: all .1s linear;
      li {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(255,255,255,1);
        width: 72.91vw;
        // height: 13.54vw;
        transform:  translate3d(7.8125vw ,0px ,5.21vw);
        opacity: 0;
        -webkit-transition: all .5s linear;
        box-shadow: 0 6px 10px rgba(17,17,17,.14), 0 1px 18px rgba(17,17,17,.14), 0 3px 5px rgba(17,17,17,.14);
        .file-list{
          height: 29.17vw;
          width: 47.92vw;
          margin: 2.6vw 0px 1.93vw 3.65vw;
          overflow-y: scroll;
          overflow-x: hidden;
          &::-webkit-scrollbar {
          width: 1vw;
          height: 0.5vw;
          }

          &::-webkit-scrollbar-track     {
          display:none
          }
          &::-webkit-scrollbar-track-piece {
          background:#FAFAFA;
          }
          &::-webkit-scrollbar-thumb{
          background:#D9D9D9;
          border-radius:4px;
          }
          &::-webkit-scrollbar-corner {
          background:#FAFAFA;
          }
          &::-webkit-scrollbar-resizer  {
          background:#FAFAFA;
          }
          .row-box{
            // height: 142px;
            // margin-top: 22px;
            // background-color: red;
            // // padding: 18px 0;
            // width: 178px;
            float: left;
            width: 9.27vw;
            height: 9.271vw;
            text-align: center;
            // background-color: red;
            // border: 1px solid #ccc;
            .img-box{
              width: 6.25vw;
              height: 6.25vw;
              padding-top: .5vw;
              margin: 0 auto;
            }
            span{
              padding: 8px;
              margin-top: 4px;
              display: inline-block;
            }
            &:hover{
              .img-box{
                background-color: rgb(224,224,224);
                border-radius: 4px;
              }
              span{
                background-color: rgb(17,108,214);
                color: $white;
                border-radius: 4px;
              }
            }
            // @include text-overflow;
          }
          .column-box{
            height: 4.1vw;
            padding: 0.5vw;
            width: 45.83vw;
            display: flex;
            line-height: 3.1vw;
            border-bottom: 1px solid #D9D9D9;
            .icon-box{
              display: inline-block;
              width: 3.1vw;
              text-align: center;
            }
            .name {
              font-size: 1.4rem;
              color: $black;
              width: 27vw;
              margin-left: 1vw;
              // @include text-overflow;
            }
            .size {
              font-size: 1.4rem;
              color: #9B9B9B;
              width: 6vw;
            }
            .time{
              font-size: 1.4rem;
              color: #9B9B9B;
              width: 10vw;
            }
            &:hover{
              background-color: rgb(17,108,214);
              .name {
                color: $white;
              }
              .size {
                color: $white;
              }
              .time{
                color: $white;
              }
            }
          }
        }
        .nav{
          height: 2.1vw;
          border-top: 1px solid #B9B9B9;
          width: 52.08vw;
          .arrow-group{
            width: 3.6vw;
            border-right: 1px solid $light-gray;
            height: 2.8125vw;
            float: left;
            .arrow{
              font-size: 3.6rem;
              background: url(./assets/pre.png) no-repeat;
              background-position: center;
              float: left;
              width: 1vw;
              height: 2.8125vw;
              margin-left: 1.6vw;
            }
          }
          .breadcrumb{
            height: 2.8125vw;
            line-height: 2.8125vw;
            font-size: 1.4rem;
            float: left;
            padding-left: 0.83vw;
          }
        }
        .file-info{
          width: 21vw;
          // height: 13.54vw;
          border-left: 1px solid $light-gray;
          float: right;
          text-align: center !important;
        }
        .print-setting{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: $white;
          -webkit-transition: all .5s linear;
        }
        &:first-child{
          opacity: 1
        }
      }
    }
    .left-side{
      width: 41.67vw;
      height: 31.25vw;
    }
  }
  .setting{
    width: 72.91vw;
    height: 39.58vw;
    position: absolute;
    left: 13.54vw;
    background: $white;
    -webkit-transition: all .3s cubic-bezier(0.42,0,0.58,1);
    box-shadow: 0 6px 10px rgba(17,17,17,.14), 0 1px 18px rgba(17,17,17,.14), 0 3px 5px rgba(17,17,17,.14);
    .button{
      background: $black;
      color: #FFF;
    }
    .button-disabled{
      background: $grey-ligher;
    }
  }
  .displayMode{
  }
}
.column{
  font-size: 2rem;
}
