// :global(.ant-select-dropdown-menu) {
//   overflow: scroll;
// }
@font-face {
  font-family: 'syht';
  src: url('./assets/syht.otf') format('truetype');
}

@font-face {
  font-family: 'sf';
  src: url('./assets/sf.otf') format('truetype');
}
:global {
  .payModal{
    .ant-modal-content{
      border-radius: 0;
    }
    .ant-modal-body{
      padding: 0;
    }
  }
}

:global {
  .ant-modal-content{
    border-radius: 0;
  }
  .ant-modal-body{
    padding: 0;
  }
}

:global(.transitionWrapper-enter) {
    opacity: 0.01;
    transition: opacity 30000ms ease-in;
}

:global(.transitionWrapper-enter.transitionWrapper-enter-active) {
    opacity: 1;
}

:global(.transitionWrapper-leave) {
    opacity: 1;
    transition: opacity 30000ms ease-in;
}

:global(.transitionWrapper-leave.transitionWrapper-leave-active) {
    opacity: 0;
}
:global(.ant-select-selection-selected-value) {
    font-size: 16px;
}
:global(.ant-select-dropdown-menu-item) {
    font-size: 14px;
}
.transitionWrapper {
    position: relative;
}

:global{
  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    body {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
  *{
    box-sizing: border-box;
    user-select: none;
  }
  *::-webkit-scrollbar{
      height: 0px;
      width: 0px;
  }
  *:focus {outline: none}
  html{
    margin: 0;
    padding: 0;
  }
  html,body{
    font-size: 16px;
    font-family: "syht" , "sfc";
    color: #000;
    height: 100%;
    line-height: 1.2;
  }
  body{
    padding: 0;
    margin:0;
    transition: transform 0.3s ease;
    scroll-behavior: smooth;
    background-color: #FEE800 !important;
  }
  html,body, html *, body *{
    user-select: none;
  }


  // html, css{
  //   touch-action:none;
  // }

  ul,li{
    padding: 0;
    margin:0;
    list-style: none;
  }

  #app{
    position: relative;
    // padding: 60px 50px;
  }

  .container{
    position: relative;
    // padding: 60px 50px;
  }
  #cnzz_stat_icon_1264500011{
    display: none;
  }
  .mCS-my-theme.mCSB_scrollTools .mCSB_dragger{ width: 30px; }
  .mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background-color: red; width: 30px; height: 30px;}
  .mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail{ background-color: white; }

  a{
    text-decoration: none !important;
    color:inherit;
  }
  a, a:active, a:focus, a:hover{
    outline: 0;
  }

  p{
    margin:0;
    padding:0;
  }

  .hide{
    display: none !important;
  }

  input[type="text"],input[type="password"], input[type="checkbox"],textarea, select,button{
    background-color: transparent;
    outline: none;
    -webkit-appearance: none;
  }

  input:read-only {
    color:#999 ;
  }

  input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px #f5f5f5 inset !important;
  }

  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #999;
  }

  input::-moz-placeholder {
    color: #999;
  }

  input::input-placeholder, textarea::input-placeholder {
    color: #999;
  }

  .duola-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
  }

  .duola-modal {
    width: 600px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    // padding: 10px;
    font-size: 16px;
  }

  .error-modal-box{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bolder;
    p{
      margin-top: -40px;
    }
    .error-modal-btn{
      position: absolute;
      bottom:0;
      width: 100%;
      height: 72px;
      font-size: 28px;
      border-radius: 5px;
      background-color: #FEE800;
      border:none;
      font-weight: bolder;
    }
  }

}
