
@import '../../custom.scss';

:global{
  .bar{
    height: 0.5vw;
    width: 100%;
    background: rgb(119,182,255);
    position: fixed;
    z-index: 3;
    top: 6.6vw;
  }
}

.guide-dora{
  position: fixed;
  right: 4vh;
  bottom: 17vh;
  height: 10vh;
}

.container{
  padding: 0 19.74vw;
  position: relative;
  p{
    font-size: 3.6rem;
    font-weight: bold;
    vertical-align: middle;
    white-space: pre-line;
    line-height: 2.4rem;
    margin-top: 4vw;
  }
  .remove-tip{
    font-size: 6.4rem;
    padding-top: 4vw;
  }
  .guide-video{
    position: absolute;
    width: 31.25vw;
    height: 31.25vw;
    top: 0.83vw;
    left: 48.23vw;
    border: 2px dotted $black;
    border-radius: 15vw;
    // overflow: hidden;
    .arrow-box{
      position: absolute;
      transform: rotate(105deg);
      left: -40%;
      top: 10%;
      overflow: visible;
    }
    .arrow-box-reverse{
      position: absolute;
      transform: rotate(300deg);
      left: 70%;
      top: -35%;
      overflow: visible;
    }
    .arrows{
      position: absolute;
      width: 4vw;
      height: 4vw;
      overflow: visible;
    }
    .arrows:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-left: 1.39vw solid rgba(0, 0, 0, 0.7);
      border-bottom: 1.39vw solid rgba(0, 0, 0, 0.7);
      animation: arrows 1.5s linear infinite;
    }

    .arrows:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-left: 1.39vw solid rgba(0, 0, 0, 0.7);
      border-bottom: 1.39vw solid rgba(0, 0, 0, 0.7);
      animation: arrows 1.5s linear infinite -0.75s;
    }

    @keyframes arrows {
      0% {
        border-left: 1.39vw solid transparent;
        border-bottom: 1.39vw solid transparent;
        transform: translate(-0.7vw, -2.78vw) rotate(-45deg);
      }
      10%, 90% {
        border-left: 1.39vw solid transparent;
        border-bottom: 1.39vw solid transparent;
      }
      50% {
        border-left: 1.39vw solid rgba(0, 0, 0, 0.7);
        border-bottom: 1.39vw solid rgba(0, 0, 0, 0.7);
        transform: translate(-0.7vw, 0px) rotate(-45deg);
      }
      100% {
        border-left: 1.39vw solid transparent;
        border-bottom: 1.39vw solid transparent;
        transform: translate(-0.7vw, 2.78vw) rotate(-45deg);
      }
    }

    div{
      overflow: hidden;
      border-radius: 15vw;
      width: 31.04vw;
      height: 31.04vw;
    }
    video{
      height: 40vw;
      margin-left: -20vw;
      margin-top: -5vw;
    }
    &:before {
       content:"";
       position: absolute;
       left: -0.5vw;
       top: 6.08vw;
       transform: rotate(28deg);
       width: 0;
       height: 0;
       border-top: 1.15vw solid transparent;
       border-right: 2.3vw solid $black;
       border-bottom: 1.15vw solid transparent;
    }
  }
  .countDown{
    font-size: 4.8rem;
    font-weight: bold;
    position: fixed;
    bottom: 2.4vw;
    right: 2.4vw;
  }
}
