@import '../../custom.scss';

.content{
  .pay-card{
    width: 62.5vw;
    height: 36.46vw;
    text-align: center;
    background: $white;
    margin: 3.1vw auto;
    padding: 1.8725vw 2.6vw;
    box-shadow: 0 6px 10px rgba(17,17,17,.14), 0 1px 18px rgba(17,17,17,.14), 0 3px 5px rgba(17,17,17,.14);
    .name{
      font-size: 2rem;
      margin-bottom: 1vw;
      display: inline-block;
      width: 15.625vw;
      @include text-overflow;
    }
    .cost{
      color: #4990E2;
      font-size: 2rem;
      margin-bottom: 1.8725vw;
    }
    .countDown{
      font-size: 2.4rem;
      text-align: center;
      margin-top: 1.6vw;
    }
    .qrcode-box{
      margin: 0 2.6vw;
      display: inline-block;
      position: relative;
      padding: 5.21vw;
    }
    .pay-icon{
      width: 2.1vw;
      position: absolute;
      background: $white;
      top: 9.375vw;
      left: 9.375vw;
      border-radius: 16px;
    }
    .spin{
      background-color: #FF5A5A;
      display: inline-block;
      height: 21vw;
    }
    .type-img{
      width: 2.6vw;
    }
  }
}

.prompt-1{
  font-size: 4.8rem;
  padding: 5vw 0 1.1vw;
}
.prompt-2{
  font-size: 2rem;
  padding-bottom: 3.91vw;
}
.btn-group{
  height: 5.73vw;
  border-top: 1px solid $turbo;
  span{
    display: inline-block;
    height: 5.73vw;
    width: 18.23vw;
    text-align: center;
    line-height: 5.73vw;
    font-size: 3.6rem;
    &:nth-child(2){
      background-color: $turbo;
    }
  }
}
