@import '../../custom.scss';


.container{
  text-align: center;
  height: 100vh;
  .dora-login{
    position: fixed;
    height: 10vh;
    bottom: 10vh;
    right: 10vh;
  }
  .content{
    display: flex;
    justify-content: space-between;
    // align-items: center;
    .left-box{
      margin-top: 10.4vw;
      margin-left: 15vw;
      .qrcode-box{
        width: 13.85vw;
        height: 13.85vw;
        background: url(./assets/border.png);
        padding: 1.72vw;
        background-size: contain;
        margin: 2.1vw 0;
        margin-left: 9vw;
      }
      .spin{
        background-color: #FF5A5A;
        display: inline-block;
        height: 15.9vw;
        margin: 1vw 0;
      }
      p{
        font-size: 4.8rem;
        font-weight: bold;
        margin-bottom: 1.7vw;
      }
      p:first-child{
        margin-top: 0;
        margin-bottom: 0;
      }
      .app{
        position: absolute;
        top: 35vh;
        left: 22.5vw;
        z-index: 8;
      }
    }
    .right-box{
      margin-top: 8.3vw;
      margin-right: 60px;
      h3{
        text-align: left;
        font-size: 2.4rem;
        margin-bottom: 24px;
      }
      ul{
        display: flex;
        li{
          width: 12vw;
          // margin-right: 4.2vw;
          img{
            margin-bottom: 1vw;
          }
          p{
            line-height: 1.46vw;
            text-align: left;
            span{
              width: 1.46vw;
              height: 1.46vw;
              text-align: center;
              margin-bottom: 1vw;
              margin-right: 0.5vw;
              border-radius: 50%;
              background: $black;
              color: $turbo;
              float: left;
            }
          }
        }
      }
    }
  }
}

:global {
  .ant-confirm-body .ant-confirm-content {
    font-size: 4rem;
  }
  .ant-modal{
    top: 30vh;
    .ant-confirm-btns{
      width: 100%;
    }
    .ant-btn-primary{
      width: 600px;
      margin-left: -40px;
      font-size: 4rem;
      background-color: $turbo;
      border: none;
      color: $black;
      height: 100px;
      margin-bottom: -40px;
    }
  }
}
