@import '../../custom.scss';

@mixin radio-box{
  width: 36px;
  height: 36px;
  display: inline-block;
  margin: 20px 0;
  background-repeat: no-repeat;
}

.container{
  position: absolute;
  right: -100px;
  top: 0;
  .radio-group{
    height: 150px;
    width: 60px;
    background: $white;
    text-align: center;
    margin-bottom: 40px;
    .radio-box{
      background: url(./assets/time.png);
      @include radio-box;
    }
    .time-o{
      background: url(./assets/time-o.png);
      @include radio-box;
    }
    .time{
      background: url(./assets/time.png);
      @include radio-box;
    }
    .case-o{
      background: url(./assets/case-o.png);
      @include radio-box;
    }
    .case{
      background: url(./assets/case.png);
      @include radio-box;
    }
    .column-o{
      background: url(./assets/column-o.png);
      @include radio-box;
    }
    .column{
      background: url(./assets/column.png);
      @include radio-box;
    }
    .row-o{
      background: url(./assets/row-o.png);
      @include radio-box;
    }
    .row{
      background: url(./assets/row.png);
      @include radio-box;
    }

    input{
      height: 0;
    }
  }
}
