
@import '../../custom.scss';


@import '../../custom.scss';

.container{
  .version{
    position: fixed;
    bottom: 3vw;
    left: 14vw;
    color: $black;
    font-size: 3rem;
  }
  .location{
    position: fixed;
    bottom: .4vw;
    left: 2vw;
    color: gray;
    font-size: 2rem;
    background: url(./assets/pin.png) no-repeat;
    background-size: contain;
    padding-left: 40px;
  }
}
