@import '../../custom.scss';

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title{
      font-size: 12rem;
      font-weight: 600;
      margin-top: 5vw;
      margin-bottom: 4.1vw;
    }
    .sub-title{
      font-size: 4.8rem;
      margin-top: 2vw;
      font-weight: bold;
    }
    .printers{
      width: 41.67vw;
      height: 18.23vw;
      overflow-y: scroll;
      margin-top: 1.6vw;
      li{
        height: 2.1vw;
        width: 100%;
        background-color: #FFF;
        line-height: 2.1vw;
        font-size: 2rem;
        font-weight: bold;
        padding-left: 1vw;
        &:nth-child(2n){
          background: #FAFAFA;
        }
      }
    }
  }
  p{
    font-size: 3.6rem;
    text-align: center;
    font-weight: 600;
  }
  .bottom-box{
    position: absolute;
    bottom: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding: 0 4vw;
    .left-box{
      font-size: 2.4rem;
      .help{
        vertical-align: middle;
        margin-right: 1.6vw;
      }
    }
    .right-box{
      text-align: right;
    }
  }
}
