
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.success{
  width: 40.14vh;
  height: 40.14vh;
  background-image: url(./assets/success.png);
  background-size: 100% 100%;
  margin: 5.078125vw 0 3.515625vw;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 88.2vh;
  .finish{
    width: 45.37vh;
    margin-top: 4vw;
    margin-bottom: 4vw;
  }
  .text{
    font-size: 6.4rem;
    text-align: center;
    font-weight: bold;
  }
}
