@import '../../custom.scss';

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  .download-box{
    margin-top: 3.25vw;
    font-size: 6.4rem;
    text-align: center;
    font-weight: 600;
    img{
      width: auto;
      height: 14.58vw;
      margin-bottom: 2.6vw;
    }
    .first{
      margin-top: 1.67vw;
    }
  }
  .version{
    position: fixed;
    bottom: .5vw;
    right: 1vw;
    color: $black;
    font-size: 3rem;
  }
  .location{
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    color: $black;
    font-size: 3rem;
    background: url(./assets/pin.png) no-repeat;
    background-size: contain;
    padding-left: 2.1vw;
  }
  .app-download{
    position: fixed;
    left: 0;
    bottom: 6vh;
    text-align: center;
    width: 100vw;
    .help-dora{
      margin-top: 2vw;
      height: 10vh !important;
    }
    .help-download{
      height: 45vh!important;
      position: absolute;
      left: 50%;
      margin-left: -22vh;
      top: -40vh;
    }
  }
  .tel{
    font-size: 4.8rem;
  }
}
