@import '../../custom.scss';

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title{
      font-size: 12rem;
      font-weight: 600;
      margin-top: 5vw;
      margin-bottom: 4.6875vw;
      .cartoon{
        position: relative;
        top: 1vw;
        margin-right: 4.1vw;
      }
    }
    .tool{
      padding-right: 5vw;
      height: 5.2vw;
    }
    .sub-title{
      font-size: 4.8rem;
      padding-left: 3vw;
      text-align: center;
      font-weight: bold;
      line-height: 4,1vw;
    }
    .sub-title-goAwry{
      font-size: 4.8rem;
      margin-top: 2vw;
      font-weight: bold;
      .free{
        font-weight: bold;
        text-decoration: underline;
      }
      .refund{
        font-size: 3.6rem;
        color: #4A90E2;
      }
    }
  }
  p{
    font-size: 3.6rem;
    text-align: center;
    font-weight: 600;
  }
  .button-box{
    display:table;
    position: absolute;
    bottom: 10vw;
    border-collapse: separate;
    border-spacing: 17.86vw 0;
    z-index: 10;
    a{
      box-sizing: content-box;
      white-space: pre-line;
      width: 8.96vw;
      line-height: 3vw;
      padding: 0 1vw;
      height: 11.04vw;
      border-radius: 206px;
      background: $black;
      color: #FFF;
      vertical-align:middle;
      display:table-cell;
      font-size: 3.6rem;
    }
  }
  .bottom-box{
    position: absolute;
    bottom: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding: 0 4.1vw;
    .left-box{
      font-size: 2.4rem;
      .help{
        vertical-align: middle;
        margin-right: 1.5vw;
      }
    }
    .right-box{
      text-align: right;
    }
  }
}
