
.app-download{
  position: absolute;
  bottom:1vw;
  right: 2.8125vw;
  text-align: center;
  img{
    width: 10vw;
    height: 10vw;
  }
  p{
    font-size: 2.7rem; //2.7
  }
  &.small{
    bottom: 20px;
    right: 40px;
    transform: scale(0.6);
    transform-origin: bottom right;
  }
}
