@import '../../custom.scss';

.container{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
  .content{
    display: flex;
    align-items: center;
    justify-content: center;
    .screensaver{
      width: 100%;
    }
    flex: 1;
    margin: 0 3vw 4vw;
    .tip{
      position: absolute;
      right: 3vw;
      bottom: 1.2vw;
      font-size: 4.8rem;
      padding-left: 4vw;
      background: url(./assets/bg-2.png) no-repeat scroll left center/ contain border-box padding-box;
    }
  }
}
