
.container{
  text-align: center;
  overflow: hidden;
  height: 100vh;
  .title{
    font-size: 6.4rem;
    margin: 13.70vh 0 11.3vh;
  }
  .des{
    font-size: 3.6rem;
    color: #FF5F1B;
    height: 6.4rem;
  }
  .rate-box{
    background: #FEE800;
    transition: all 1s ease-in;
  }
  p{
    font-size: 6.4rem;
    text-align: center;
    font-weight: bold;
  }
  footer{
    position: fixed;
    bottom: 5.56vh;
    text-align: center;
    width: 100%;
    a{
      margin-right: 9.26vh;
      text-decoration: underline !important;
      font-size: 2.4rem;
    }
    .commit_btn{
      width: 24.07vh;
      height: 5.56vh;
      font-size: 2.4rem;
      line-height: 5.56vh;
      text-align: center;
      border-radius: 3vw;
      background-color: #111;
      color: #FFF;
      font-weight: bold;
    }
  }
}


:global{
  .ant-rate-star{
    color: #FFF;
    margin: 0 2vw;
    font-size: 15rem;
  }
  .ant-rate-star-full .ant-rate-star-second{
    color: #FF5F1B !important;
  }
  .tag-box{
    margin: 0 10vw;
    .ant-checkbox-wrapper{
      position: relative;
      margin-bottom: 4vw;
      .ant-checkbox{
        width: 26vh;
        height: 8vh;
        border-radius: 4vh;
        display: inline-block;
        background-color: #FFF;
        .ant-checkbox-inner{
          display: none;
        }
        &+span{
           margin: auto;
           position: absolute;
           left:0;
           right: 0;
           top: 0;
           bottom: 0;
           line-height: 8vh;
           font-size: 3.6rem;
        }
      }
      .ant-checkbox-checked{
        background-color: #FF5F1B;
        &+span{
           font-size: 3.6rem;
           color: #FFF;
        }
      }
    }
  }
}
