
@import '../../custom.scss';

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $turbo;
  height: 88.2vh;
  .title{
    font-size: 10.8rem;
    font-family: 'dora';
  }
  .sub-title{
    font-size: 6rem;
  }
}

.active-logo{
  position: fixed;
  bottom: 40px;
  left: 30px;
}

@font-face {
  font-family: 'dora';
  src: url('./assets/dora.ttf')  format('truetype');
}

.btns-box{
  display: flex;
  padding: 2.1875vw 6.53125vw 0;
  transform: scale(1.2);
  transform-origin: top;
  span{
    width: 40.14vh;
    height: 40.14vh;
    display: block;
    background-color: $cod-gray;
    border-radius: 20.07vh;
    border-width: 0;
    font-size: 10.8rem;
    text-align: justify;
    color: $white;
    padding: 8vh 10vh;
    line-height: 12vh;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    &:first-child{
      margin-right: 200px;
    }
    &.disabled{
      background-color: grey;
    }
    &:active{
      box-shadow: none;
    }
    i{
      font-style: normal;
      display: inline-block;
      // width: 96px;
      text-align: right;
    }
  }
}

.login-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 10px;
  input{
    width: 90%;
    border:none;
    border-bottom:1px solid #888;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 36px;
    font-size: 24px;
  }
  button{
    width: 100%;
    height: 72px;
    font-size: 36px;
    border: none;
    background-color: $turbo;
    margin-top: 56px;
  }
}
