@import '../../custom.scss';


.container{
  text-align: center;
  .content{
    display: flex;
    justify-content: space-between;
    .left-box{
      margin-top: 13vw;
      margin-left: 8.3vw;
      h2{
        font-size: 4.8rem;
        margin-bottom: 3.125vw;
      }
      p{
        font-size: 2.8rem;
      }
      .spin-box{
        margin-top: 3.5vw;
        transform: scale(2);
        transform-origin: top;
      }
    }
    .right-box{
      margin-top: 8.3vw;
      margin-right: 5vw;
      h3{
        text-align: left;
        font-size: 2.4rem;
        margin-bottom: 1.25vw;
      }
      ul{
        display: flex;
        li{
          width: 11.46vw;
          margin-right: 5vw;
          img{
            margin-bottom: 1vw;
          }
          p{
            line-height: 1.5vw;
            text-align: left;
            span{
              width: 1.46vw;
              height: 1.46vw;
              text-align: center;
              margin-bottom: 1vw;
              margin-right: 0.4vw;
              border-radius: 50%;
              background: $black;
              color: $turbo;
              float: left;
            }
          }
        }
      }
    }
  }
}

:global {
  .waitingModal{
    p{
      font-size: 4rem;
      height: 200px;
      text-align: center;
      line-height: 200px;
    }
    button{
      width: 300px !important;
      font-size: 4rem;
      border: none;
      color: #111;
      height: 100px;
    }
    .ant-modal-footer{
      padding: 0;
    }
    .ant-modal .ant-btn-primary{
      margin: 0;
    }
  }
}
